Chainlit
pandas
langchain
langchain-community
faiss-cpu
ipywidgets
dotenv
langgraph
biopython
requests
beautifulsoup4
langchain-openai
transformers
langfuse 
langchain_anthropic 
langchain_experimental
langchain_core
setuptools
